<%- include("partials/header.ejs")  %> 
<%- include("partials/navbar.ejs")  %> 

<div class="container py-3 my-3">
  <div class="row">
    <h5>Tabel Gempa</h5>
    <div class="d-flex justify-content-between mb-2">
      <div class="tombol">
        <a class="mx-2 btn btn-dark btn-sm" style="text-decoration: none;" href="/unduh"><i class="fa-solid fa-download"></i> Export data</a>
        <select class="form-select mt-2 form-select-sm" aria-label=".form-select-sm example">
          <option selected>Show</option>
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">All</option>
        </select>
      </div>
      <form action="" role="search">
        <input class="form-control search me-2" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Lokasi</th>
          <th scope="col">Kekuatan Gempa</th>
          <th scope="col">Kedalaman Gempa</th>
          <th scope="col">Jarak Pusat Gempa</th>
          <th scope="col">Dampak Gempa</th>
        </tr>
      </thead>
      <tbody class="hasil">
        <% let no=1 %> 
        <% data.forEach(d => { %>
          <tr>
            <th scope="row"><%= no++ %> </th>
            <td><%=  d.lokasi %> </td>
            <td><%= d.kekuatanGempa %> </td>
            <td><%= d.kedalamanGempa  %> </td>
            <td><%= d.jarakGempa  %> </td>
            <td><%= d.dampakGempa %> </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<%- include("partials/footer.ejs")  %> 